<!DOCTYPE html>
<html>
  
#clinic queue system sign up
<head>
<title>Clinic Sign In</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="login-container">

<!-- LEFT SIDE -->
<div class="login-form">

<h2>Welcome to Clinic System</h2>

<form method="POST">

<input type="text" name="username" placeholder="Enter Your Name" required>

<br><br>

<button type="submit">Enter System</button>

</form>

</div>

<img src="https://www.shutterstock.com/image-vector/cute-doctor-cartoon-character-standing-600nw-2669102227.jpg"

</div>

</body>

</html>
